<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Wallet setting
    </ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>

<ion-card  class="datainput">
<ion-card-header>
<ion-card-title>
 <ion-button fill="clear" size="small" color="primary" (click)="createwif()"> Create Wallet  </ion-button>
</ion-card-title>
</ion-card-header>
<ion-item>
<ion-label position="stacked"> Enter wallet private key </ion-label>
<ion-textarea rows="2" text-wrap placeholder="RXC testnet wif" [(ngModel)]="walletwif" > </ion-textarea>
           
</ion-item>
<ion-item>
<ion-label text-wrap>

</ion-label>

 <ion-button fill="clear" size="small" color="primary" (click)="savewif()"> Save </ion-button>
 <ion-button fill="clear" size="small" color="primary" (click)="gettestnetbalance()">Help </ion-button>
</ion-item>

</ion-card>
<ion-card >
  <ion-card-header>
  <ion-card-title>
  RXC INFO
  </ion-card-title>
  </ion-card-header>
  <ion-card-content >
   <ion-item>
     <ion-label text-wrap>  <h4> Crypto.ba RXC project  </h4>
     <p> First bosnian cryptocurrency, community driven! </p> </ion-label>
   </ion-item>

   <ion-item>
     <ion-label > <h4> Made by community for community!  </h4>
     <p>This is RXC community mobile wallet.
       
     </p> </ion-label>
   </ion-item>
  </ion-card-content >
</ion-card >



</ion-content>
